body{
    padding: 0px !important ;
    margin: 0px !important;
    box-sizing: border-box !important;
    overflow-x:hidden !important;
    font-family: "Open Sans", sans-serif !important; 
 }/*
#reven{
    padding-right: 20px;
} */
body div.early h1.first-text{
    /* font-size: 2.5rem; */
    /* font-size: calc(1.375rem + 1.5vw) !important; */
    font-weight: 700;
    line-height: 48px;
    margin-bottom: 8px;
    margin-top: 0px;
    color:  rgb(246, 145, 28) !important ;
    font-family: "Open Sans", sans-serif !important; 
    font-weight: 700 !important;
    
}
body div.first-p{
    font-size: 14px !important;
font-weight: 400 !important;
line-height: 21px !important;
margin-bottom: 16px !important;
margin-top: 0px !important;
   
    /* font-family: montserrat, helvetica neue, sans-serif !important; */
    color:black !important;
    font-size: 14px !important;
    font-family: "Open Sans", sans-serif !important; 
}
 body div.content--2  h2.Select{
    /* font-size: 2rem !important; */
    /* font-size: calc(1.325rem + 0.9vw) !important; */
    font-weight: 500 !important;
line-height: 38.4px !important;
margin-bottom: 8px !important;
margin-top: 0px !important;
    color:black !important;
    font-family: montserrat, helvetica neue, sans-serif !important;
    font-weight: 500 !important;
    text-align: start !important;
}
body div.sele #sel{

    font-family: "Open Sans", sans-serif !important; 
    background-color: whitesmoke !important;
    width: 80% !important;
    height: 60px !important;
    border: none !important;
    border-radius: 10px  !important;
    font-size: 20px !important;
    padding-left: 15px !important;
    font-weight: 500 !important;
    color: black !important;
    
}
body div.sele  #time{
    font-family: "Open Sans", sans-serif  !important; 
    background-color:whitesmoke !important;
    width: 80% !important;
    height: 60px !important;
    border: none !important;
    border-radius: 10px !important;
    font-size: 20px !important;
    padding-left: 15px !important;
    color: black !important;
    font-weight: 500 !important;
}
body div.content3 h5.Annua{
    font-family: "Open Sans", sans-serif !important; 
 font-weight: 500 !important;
font-size: 18px !important;
    color:rgb(0, 0, 0) !important;
    width: 80% !important;
   
    
}
/* h5.Annua{
    
} */
body div.est{
   

    display: flex !important; 
    flex-direction:row !important;
     text-align: center !important;
}
body div.est h1.est-va{
color: white !important;
/* font-size: 40px; */
}
body div.content3 h6.how{
    color:black !important;
    width: 80% !important;
    font-size: 13px !important;
    font-weight: 300 !important;
    font-family: "Open Sans", sans-serif !important ;
}
body div#tex h6.How{
    color:rgb(255, 255, 255) !important;
    width: 80% !important;
    font-size: 13px !important;
    font-weight: 300 !important;
    font-family: "Open Sans", sans-serif !important;
}
body div.content3 div.allin #input2{
    background-color:white !important;
    width: 80% !important;
    height: 80px !important;
    border: 2px solid black !important;
    border-radius: 10px !important;
    font-size: 35px !important;
    color: black !important;
    padding-right: 20px !important;
    text-align: end !important;
    padding-left: 15px !important;
    font-weight: 500 !important;  
}
body div.content3 div.allin #input1{
    background-color:white !important;
    width: 80% !important;
    height: 80px !important;
    border: 2px solid black !important;
    border-radius: 10px !important;
    font-size: 35px !important;
    color: black !important;
    padding-right: 20px !important;
    text-align: end !important;
    padding-left: 15px !important;
    font-weight: 500 !important;  
}
#input1::placeholder{
    color: rgb(117, 115, 111) !important;
}
#input2::placeholder{
    color: rgb(117, 115, 111) !important;
}
body div#button button.last-btn{
    font-size: 20px !important;
   width: 40%  !important;
   border-radius: 5px !important; 
    height: 60px !important;
    color: white !important;
    border: none !important;
    background-color: #f6911c !important;
    transition: 0.4s !important;
}
body div#button button.last-btn:hover{
    background-color:rgb(222, 222, 222)!important ;
    
}
body div#sec div#snd{
    background-color: hwb(32 4% 8%) !important;
  
}
body div#sec div#Sav h2{
    color: white !important;
    font-family: "Open Sans", sans-serif !important;
}
body div#tex h5{
    color: white !important;
    font-family: "Open Sans", sans-serif !important;
}
body div.jej{
    color: white !important;
    display: flex !important;
    flex-direction: row !important;
}
body div.jej2 h5{
    color: rgb(244, 243, 243) !important;
}
body div h2#resultabsence{
    color: rgb(255, 255, 255) !important;
}
body pre hr{
    color: white !important;
}
body h6#lat{
    color: white !important;
    font-family: "Open Sans", sans-serif !important; 
}

body div.btun
{
    font-family: "Open Sans", sans-serif !important; 
    background-color: #f6911c !important;
    border: none !important;
    color: white !important;
   
    align-items: center !important;
    border-radius: 10px !important;
    padding-top: 0px !important;
    padding-right: 0px !important;
    padding-left: 0px !important;
    box-shadow: rgba(0, 0, 0, 0.34) 0px 0px 3px 0px;
    
    
}
#maa{

    justify-content: center;
}
body div.btu
{font-family: "Open Sans", sans-serif !important; 
    background-color: #f6911c !important;
    border: none !important;
    color: white !important;
    padding-top: 0px !important;
    padding-right: 0px !important;
    padding-left: 0px !important;
  
    align-items: center;
    border-radius: 10px;
box-shadow: rgba(0, 0, 0, 0.34) 0px 0px 3px 0px;
    
}

#cot:hover{
    background-color:rgb(222, 222, 222)!important ;
}
#Sign:hover{
    background-color:rgb(222, 222, 222) !important ;   
}

.big:hover{
    background-color: rgb(222, 222, 222) !important;
}

.big{
    font-family: "Open Sans", sans-serif !important; 
    height: 50px !important;
    border: none !important;
    color: white !important;
    width: 100% !important ;
    border-radius: 10px !important;
    background-color:#f6911c  !important;
    font-size: 20px !important;
    transition: 0.4s !important;
} 
#lat{
    font-size: 18px;
    font-weight: 300;
}
.ge{
    font-family: "Open Sans", sans-serif; 
    font-size: 14px !important;
}
.geo{
    color: black !important;
    transition: 0.4s;
    width: 102px;
    font-family: "Open Sans", sans-serif; 
}
.geo:hover{
    color: #f6911c !important;
}
.geoo{
    color: black !important;
    font-family: "Open Sans", sans-serif; 
    transition: 0.4s;
}
.navbar-expand-lg .navbar-collapse {
       
    justify-content: center;
  }
  ul.navbar-nav{

    gap: 3.5%;
    object-fit: cover;   
    }
.geoo:hover{
    color: #f6911c !important;
}
h5#but{
    color: white;
}
/* h2#resultabsence{
    
}  */

@media (max-width:1366px) {
    .navbar-expand-lg .navbar-collapse {
       
        justify-content: center !important;
      }
   ul.navbar-nav{

gap: 3.5%;
object-fit: cover;   
}
}
@media (max-width:1220px) {
    .navbar-expand-lg .navbar-collapse {
        
        justify-content: center;
      }
    ul.navbar-nav{
 
 gap: 2.5%;
 object-fit: cover;   
 }
 }













 @media (min-width:1200){

body div.early h1.first-text{
font-size: 2.5rem !important;
 }
h2#resultabsence{
    font-size: 32px !important;
}
 body div.content--2  h2.Select{
font-size: 32px !important;
 }
 body div.est h1.est-va{
    font-size: 40px !important;
 }
 body div#sec div#Sav h2{
    font-size:32px !important ;
}
body div.jej h2.zero{
    font-size: 32px !important;
}


}
 @media (max-width:1199){
     body div.early h1.first-text{
        font-size:  calc(1.375rem + 1.5vw) !important;
         }

         body div#sec div#Sav h2.ccc{
            font-size: calc(1.325rem + 0.9vw) !important;
            color: white !important;
        }    

 body div.est h1.est-va{
    font-size: calc(1.375rem + 1.5vw) !important;
 }
 body div.content--2  h2.Select{
    font-size: calc(1.325rem + 0.9vw) !important;
 }
 body div.jej h2.zero{
    font-size: calc(1.325rem + 0.9vw) !important;
}
h2#resultabsence{
    font-size: calc(1.325rem + 0.9vw) !important;
} 


















        }
 @media (max-width:1166px) {
    
    .navbar-expand-lg .navbar-collapse {
       
        justify-content: center;
      }
    ul.navbar-nav{
   
 gap: 1.5%;
 object-fit: cover;   
 }
 }
 @media (max-width:1091px) {
    .navbar-expand-lg .navbar-collapse {
        
        justify-content: center;
      }
    ul.navbar-nav{
  
 gap: 1.0%;
 object-fit: cover;   
 }
 }
 @media (max-width:1020px) {
    .navbar-expand-lg .navbar-collapse {
        
        justify-content: center;
      }
    ul.navbar-nav{
 
 gap: 0.8%;
 object-fit: cover;   
 }
 }
@media (max-width:991px) {
   
    body div#button button.last-btn{
        width: 80% !important;
     } 
   
    .geo{
        padding-left: 13px !important;
    } 
   
}
@media (max-width:767px) {
    body{
      padding-left: 30px ;
      padding-right: 30px;
     
       
    }
   
    .last-btn{width: 80%;}
    #input1{
       margin-top: 10px;
    }
    #input2{
        margin-top: 10px;
     }
     .last-btn{
        width: 100%;
     }
}
